.containers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  width: 70vw;
  margin: 10px auto 10px auto;
  border-style: none;
  background-color: #2D6A4F;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #000;
}

.containers_ex-buttons {
  grid-template-columns: 1fr 1fr 1fr;
}

.containers_alt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 0;
  width: 100%;
  margin: 10px auto 0 auto;
  padding: 0;
  background-color: #081C15;
}

.containers_bills {
  background-color: #014F86;
}

.containers_red {
  background-color: #590D22;
}

@media screen and (max-width: 720px) {
  .containers {
    width: 98%;
  }
}